# Папки сборки CMake
cmake-build-*/
.cmake/

# Папки для других систем сборки
build/
bin/
lib/

# Файлы IDE CLion
.idea/

# Скомпилированные файлы
*.exe
*.dll
*.so
*.a
*.o
*.obj

# Другие временные файлы
*.log
*.tmp
